@model CustomerDetailsProductViewModel

@{
    ViewBag.Title = $"{Model.Name} | Product Details";
}

<div class="d-flex justify-content-center my-5">
    <div class="w-75">
        <div class="row">
            <div class="col-lg-6 " style="height: 500px">
                <div class="w-100 h-100 p-3 bg-white shadow-sm rounded-3">
                    <img src="@Model.ImageUrl" class="w-100 h-100" style="object-fit: contain" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-2 text-start h-100 d-flex align-content-between flex-wrap">
                    <div>
                    <h2 class="fw-bolder">@Model.Name</h2>
                    <p class="my-3 text-muted">
                        @Model.Description
                    </p>
                    <hr class="text-muted" />
                    <div>
                        <span class="fw-bolder h3">
                            Price: @Model.ActualPrice.ToString("C")
                            <span class="text-decoration-line-through text-danger h5 ms-2">@Model.Price.ToString("C")</span>
                        </span>
                    </div>

                    <hr class="text-muted" />
                    </div>
                    <div class="btn-group shadow-sm">
                        <a id="buy-button" data-productid="@Model.Id"  ref="#" class="btn btn-warning px-3 py-2 fw-bold text-white grow-xsm">
                            Buy Now
                        </a>
                        <a id="wishlist-button" data-productid="@Model.Id" class="btn btn-danger px-3 py-2 fw-bold text-white grow-xsm">
                            <i class="bi bi-heart"></i>
                            Add to wishlist
                        </a>
                        <a id="cart-button" data-productid="@Model.Id" class="btn btn-dark px-3 py-2 fw-bold text-white grow-xsm">
                            <i class="bi bi-cart-plus"></i>
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <script src="~/js/customer-add-product-to-wishlist.js" asp-append-version="true"></script>
        <script src="~/js/customer-add-product-to-cart.js" asp-append-version="true"></script>
        <script src="~/js/customer-buy.js" asp-append-version="true"></script>
    }
}
